<div class="show_product_01">
  <div class="show_collection_image">
    <div class="show_image_list">
      <div class="show_product_02">
        <%= image_tag 'image5.webp'%>
      </div>
      <div class="show_product_03">
        <%= image_tag 'image5.webp'%>
      </div>
    </div>
    <div class="show_image_more">
      <div class="show_image_more_product"><%= image_tag 'image5.webp'%></div>
      <div class="show_image_more_product"><%= image_tag 'image5.webp'%></div>
      <div class="show_image_more_product"><%= image_tag 'image5.webp'%></div>
      <div class="show_image_more_product"><%= image_tag 'image5.webp'%></div>
    </div>
  </div>
  <div class="show_product_04">
    <div class="show_info_product">
      <div>
        <h2>
          <span>Isabel Marant Étoile</span><br>
          <span class="show_header_product">high-waisted straight leg jeans</span>
        </h2>
      </div>
      <div class="block_price_show">
        <span class="show_price_product">$225</span>
      </div>
      <div class="show_size_product">
        <div class="content_size_product">Select size</div>
      </div>
      <div class="show_product_add_card">
        <div class="add_card">
          <div class="icon_add_card">Add to Bag</div>
        </div>
        <div class="add_wishlist">
          <div class="icon_add_wishlist">Wishlist</div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="info_details_product">
  <div class="">Home > Women > products</div>
  <div class="details_product">
    <div class="content_details_product">The Details<hr></div>
  </div>
  <div class="_info">
    <div class="_info1">
      <div>
        <div class="_info1_name">Isabel Marant Étoile</div>
        <div class="_info1_content">high-waisted straight leg jeans</div>
      </div>

      <div class="_info1_highlights">Highlights</div>
      <div class="list_highlights">
        <ul style="list-style-type:square; padding:12px;">
          <li>blue</li>
          <li>cotton-denim</li>
          <li>faded effect</li>
          <li>contrast stitching</li>
          <li>high waist</li>
          <li>front button and zip fastening</li>
          <li>belt loops</li>
          <li>classic five pockets </li>
          <li>straight leg</li>
        </ul>
      </div>
    </div>
    <div class="_info2">
      <div class="_info2_content">Composition</div>
      <div>
        <div>Outer: Cotton 100%</div>
        <div>Lining: Polyester 65%, Cotton 35%</div>
      </div>
    </div>
    <div class="_info3">
      <div class="_image_product">
        <%= image_tag 'image5.webp'%>
      </div>
    </div>
  </div>
</div>