<div class="big_index">
  <div>
    <p>Home > Women > Index</p>
  </div>
  <div>
    <h1>INDEX</h1>
  </div>

  <div class="setting_products">
    <div class="quanity_products">50+ pieces</div>
    <div></div>
    <div class="sort_products">sort by</div>
  </div>

  <div class="list_products_filter">
    <div class="list_filter">
      <ul>
        <li><div class="icon_filter"><b>Category</b></div></li>
        <li><div class="icon_filter"><b>Designer</b></div></li>
        <li><div class="icon_filter"><b>Colour</b></div></li>
        <li><div class="icon_filter"><b>Price</b></div></li>
        <li><div class="icon_filter"><b>Sustainability</b></div></li>
      </ul>
    </div>
    <div class="list_product">
      <div class="products_01">
        <div class="products_02">
          <ul class="products_ul">
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
            <li class="product_01"><%= render 'share/product'%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>