<div>
  <%= render 'share/header'%>
</div>
<div class="image_backgroup_woman">
  <%= render 'share/campaign'%>
  <%= render 'share/designer_collection'%>
  <div class="list_products1">
    <div>
      <h3>New in: hand-picked daily from the world's best branchs and boutiquesNew </h3>
    </div>
    <%= render 'share/list_products'%>
  </div>

<%= render 'share/hit_week'%>

  <div class="list_products1">
    <div>
      <h3>New in: hand-picked daily from the world's best branchs and boutiquesNew </h3>
    </div>
    <%= render 'share/list_products'%>
  </div>

  <%= render 'share/brand_collection'%>

  <div class="list_products1 marg_80">
    <div>
      <h3>The feed2: exclusives and collaborations </h3>
    </div>
     <%= render 'share/list_products'%>
  </div>

  <%= render 'share/brand_collection'%>

  <div class="list_products1 marg_80">
    <div>
      <h3>The feed: exclusives and collaborations </h3>
    </div>
    <%= render 'share/list_products'%>
  </div>
</div>